<section class="events">
  <div class="container">
    <div class="row align-items-center">
      <div class="img">
        <%= image_tag 'events/collusion.png' %>
      </div>
      <div class="events-content">
        <h2>Events This Month</h2>
        <p>3/9 - Collusion Vol.9 (Open DJ Event)</p>
        <p>3/10 - Drink & Draw (Open Art Workshop)</p>
        <p>3/16 - Comedy Night (Open Standup)</p>
        <p>3/17 - BLT (Hop Hop DJ Event)</p>
        <p>3/23 - Bradapalooza (Acoustic Live Event)</p>
        <p>3/24 - Trivia Night (US Office)</p>
        <p>3/30 - Tiki Bar (Tiki Event)</p>
        <p>3/31 - Arawng Kalayaan (Filipino Food Event)</p>
      </div>
    </div>
  </div>

  <div class="event-header">
    <h5>Previous Events:</h5>
  </div>

  <div class="gallery-wrap">
    <i class="fa-solid fa-circle-chevron-left info-arrow" id="backBtn"></i>
      <div class="gallery">
        <div>
          <span class="prev-box"><%= image_tag 'events/blt.png', class:"prev-event" %></span>
          <span class="prev-box"><%= image_tag 'events/brad.png', class:"prev-event" %></span>
          <span class="prev-box"><%= image_tag 'events/comedy.png', class:"prev-event" %></span>
        </div>
        <div>
          <span class="prev-box"><%= image_tag 'events/draw.png', class:"prev-event" %></span>
          <span class="prev-box"><%= image_tag 'events/trivia.png', class:"prev-event" %></span>
          <span class="prev-box"><%= image_tag 'events/tiki.png', class:"prev-event" %></span>
        </div>
      </div>
    <i class="fa-solid fa-circle-chevron-right info-arrow" id="nextBtn"></i>
  </div>
</section>

<script src="/javascripts/site.js"></script>
